<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @portfolio.title %>
</p>

<p>
  <strong>Website:</strong>
  <%= @portfolio.website %>
</p>

<p>
  <strong>Image:</strong>
  <%= @portfolio.image %>
</p>

<p>
  <strong>References:</strong>
  <%= @portfolio.references %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
