<p id="notice"><%= notice %></p>

<section class="section-wrapper portfolio-section">
    <div class="container-fluid">
        <%= will_paginate %>
        <div class="row">
            <% @users.each do |user| %>
            <div class="col-md-3">
                <%=link_to user, class: "portfolio-item" do %>
                    <% if user.profile_pic.length < 1 %>
                    <div class="portfolio-thumb">
                        <%= image_tag("img-profile") %>
                    </div>
                    <% else %>                    
                    <div class="portfolio-thumb">
                        <%= image_tag user.profile_pic %>
                    </div>
                    <% end %>

                    <div class="portfolio-info">
                        <h3><%= user.name %></h3>
                        <small><%= user.profession %></small>
                    </div>
                    <!-- portfolio-info -->
                <% end %>
                <!-- .portfolio-item -->
            </div>
            <% end %>
        </div>
        <!-- /.row -->
        <%= will_paginate %>
    </div>
</section>
<!-- .portfolio -->
