<h1>Sigup</h1>
<%= render("shared/error_messages") %>
<%= form_for @user do |f| %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Name and Susrname" %>
  </div>

  <div class="field">
    <%= f.text_field :email, :placeholder => "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, :placeholder => "Password" %>
  </div>

  <div class="actions">
    <%= f.submit "Register" %>
  </div>

<% end %>

<%= link_to 'Login', login_path %>
