<%= form_with(model: expertise, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :expertise_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :expertise_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
