<%= form_with(model: expertise, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :expertise_title, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.trix_editor :description, id: :expertise_description, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
