<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @expertise.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expertise.description %>
</p>

<%= link_to 'Edit', edit_expertise_path(@expertise) %> |
<%= link_to 'Back', expertises_path %>
