<%= render 'shared/leftside' %>
<h1>New Skill</h1>

<%= render 'form', skill: @skill %>

<h1>Skills</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.skills.each do |skill| %>
      <tr>
        <td><%= skill.title %></td>
        <td><%= skill.level %></td>
        <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
        <td><%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</section>
<!-- .edit-wrapper -->
