<p id="notice"><%= notice %></p>
<div class="columns-block container">
<div class="left-col-block blocks">
    <header class="header theiaStickySidebar">
        <div class="profile-img">
            <%= image_tag current_user.profile_pic, class: "img-responsive" %>
        </div>
        <div class="content">
            <h1><%= current_user.name %></h1>
            <span class="lead"><%= current_user.profession %></span>

            <div class="about-text">
                <p>
                    <%= current_user.about %>
                </p>


                <p><%= image_tag current_user.signature, class: "img-responsive" %></p>
            </div>

            <%= link_to 'Back', current_user, class: "btn btn-primary" %>

            <ul class="social-icon">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            </ul>
        </div>

    </header>
    <!-- .header-->
</div>
<!-- .left-col-block -->


<div class="right-col-block blocks">
<div class="theiaStickySidebar">
<section class="expertise-wrapper section-wrapper gray-bg">