<%= form_with(model: experience, local: true) do |form| %>
  <% if experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration, id: :experience_duration, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :job_title %>
    <%= form.text_field :job_title, id: :experience_job_title, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, id: :experience_company, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :experience_city, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :experience_country, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
