<p id="notice"><%= notice %></p>

<p>
  <strong>Duration:</strong>
  <%= @experience.duration %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @experience.job_title %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
