<%= form_with(model: education, local: true) do |form| %>
  <% if education.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(education.errors.count, "error") %> prohibited this education from being saved:</h2>

      <ul>
      <% education.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration, id: :education_duration, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :qualification %>
    <%= form.text_field :qualification, id: :education_qualification, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :institution %>
    <%= form.text_field :institution, id: :education_institution, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :education_city, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :education_country, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
