<!DOCTYPE html>
<html>
  <head>
    <title>Resumex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar">
<div id="main-wrapper">
    <div class = "row">
           <div class="col-md-3 col-md-offset-1"><h1>Resumex</h1></div>
           <div class="col-md-5">
                  <div class="row">
                    <div class="col-lg-12">
                      <%= form_tag users_path, :method => "get" do %>
                           <%= text_field_tag :search, params[:search], :placeholder => "Search...", class: "form-control" %>
                           <span>
                           <%= submit_tag "Search", class: "btn btn-primary" %>
                            </span>
                      <% end %>
                    </div>
                  </div>
               </div>
           <div class="menu col-md-3"> 
            <ul>
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Login", login_path %></li>
                <li><%= link_to "Logout", logout_path, method: 'delete', data: { confirm: "Are you sure?" } %></li>
            </ul>
           </div>
    </div>

<!-- Page Preloader -->

    <%= yield %>


<footer class="footer">
    <div class="copyright-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="copytext">&copy; Resumex. All rights reserved | Theme By: <a
                            href="https://themehippo.com">themehippo</a></div>
                </div>
            </div>
            <!--.row-->
        </div>
        <!-- .container-fluid -->
    </div>
    <!-- .copyright-section -->
</footer>
<!-- .footer -->
</div>
<!-- Sticky -->
</div>
<!-- .right-col-block -->
</div>
<!-- .columns-block -->
</div>
<!-- #main-wrapper -->
  </body>
</html>
